################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FeedBuf/.vs/FeedBuf/FileContentIndex/b97c9fef-ee1a-42b6-96c4-3651dce70bbf.vsidx
